# =========================================================================
# 1. Build and Dependency Managers (Maven)
# =========================================================================
target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.mars
*.vm
*.gz

# =========================================================================
# 2. Node & Angular Specific Files
# =========================================================================
# Dependencies
/node_modules
node_modules/
.pnp
.pnp.js

# Angular Cache & Builds
/.angular
/dist
/tmp
/out-tsc
/bazel-out

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
eslintdebug.log*

# Test Coverage
/coverage

# =========================================================================
# 3. IDE Specific Files (IntelliJ, Eclipse, VS Code)
# =========================================================================
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.metadata/
.classpath
.project
.settings/
*.launch

# Visual Studio Code
.vscode/

# =========================================================================
# 4. Operating System Specific Files
# =========================================================================
.DS_Store
Thumbs.db
ehthumbs.db
Log.txt

# =========================================================================
# 5. Local Environment & Security
# =========================================================================
.env
.env.local
*.jks
*.p12
*.key