<div class="container-fluid d-flex justify-content-center align-items-center min-vh-100 bg-light">
  <div class="card p-4 shadow-sm" style="max-width: 450px; width: 100%;">
    <h3 class="text-center mb-4">Create account</h3>
    
    <div *ngIf="errorMsg.length > 0" class="alert alert-danger" role="alert">
      <p *ngFor="let msg of errorMsg" class="mb-0">{{ msg }}</p>
    </div>

    <form (ngSubmit)="onRegister()">
      <div class="mb-3">
        <label for="firstname" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="firstname" [(ngModel)]="registerRequest.firstname" name="firstname" required>
      </div>
      <div class="mb-3">
        <label for="lastname" class="form-label">First Name</label>
        <input type="text" class="form-control" id="lastname" [(ngModel)]="registerRequest.lastname" name="lastname" required>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email Adress</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="registerRequest.email" name="email" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="registerRequest.password" name="password" required>
      </div>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Sing in</button>
        <button type="button" (click)="login()" class="btn btn-link text-decoration-none text-center">
          Log in?
        </button>
      </div>
    </form>
  </div>
</div>
